$color1: #83951c;
$color2: #455e14;
$color3: #bdd299;
$color4: #e5eeda;
$color5: #7a9b57;
$text1: #1c1c1c;

//共通
body {
  background-color: $color4;
  font-family: YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  a {
    color: $text1;
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  .form-box {
    width: 100%;
    padding: 3px 5px;

    .input {
      background-color: white;
      width: 100%;
      margin-bottom: 15px;
      padding: 3px 10px;
    }

    .submit {
      background-color: $color5;
      width: 70%;
      margin: 0 auto;
      display: block;
    }

    .input,.submit {
        border-radius: 20px;
      }
    }

  @keyframes slideUpFade {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    }
  }

  .float-up {
    animation: slideUpFade 0.6s ease-out forwards;
  }

}

//ナビゲーション
header {

  #header {
    width: 100%;
    height: 10vh;
    background-color: $color1;
  }

}

//ログイン
#login-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 85vh;

  #login-box {
    h1 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 50px;
    }

    #login,#signIn {
      width: 90%;
      margin: 0 auto;

      h3 {
        width: 100%;
        text-align: center;
      }

      .toggle-login {
        text-align: center;
        margin-top: 10px;
      }

    }

    #signIn {
      display: none;
    }
  }
}


//体調
#main-init {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;

  #init-wrap {
    width: 90%;
    max-width: 600px;
    padding: 10px 15px;

    h4{
      text-align: center;
      margin-bottom: 10px;
    }

    .condition-box {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin: 20px 0;

      div {
        flex: 1;
        text-align: center;
      }

      input[type="radio"] {
        display: none;
      }

      .radio-img {
        display: inline-block;
        cursor: pointer;
        transition: transform 0.2s, border 0.3s;

        img {
          width: 30%;
          object-fit: cover;
          border: 2px solid transparent;
          border-radius: 8px;
          transition: border 0.3s, opacity 0.3s;
          opacity: 0.7;
        }
      }

      input[type="radio"]:checked + .radio-img img {
        border: 2px solid $color2;
        opacity: 1;
        box-shadow: 0 0 5px $color2;
      }
    }
  }
}

//ホーム画面