<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  
  <header>
    <div id="header">
      <h1><a href="/">タスク管理アプリ</a></h1>
  
      <div id="header-box">
        <% if (locals.login) { %>
          <p><%= locals.loginName %>さん</p>
          <p>ID:<%= locals.id %></p>
          <p>現在の体調:<%= locals.capacity %></p>
          <p><a href="/logout">logout</a></p>
        <% } else { %>
          <p><%= locals.loginName %>さん</p>
          <p><a href="/login">login・signIn</a></p>
        <% } %>
      </div>
    </div>
  </header>
  
</body>
</html>