<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <div class="float-up">

    <div>
      <h2><%= locals.capacityMessage %></h2>
    </div>

    <div>
      <p id="userList"></p>
      <a href="/task_adjust">タスク構成</a>
    </div>

    <div>
      <a href="/task">タスク</a>
      <a href="/capacity">体調入力</a>
    </div>

  </div>

  <script src="javascripts/main.js"></script>
</body>
</html>