<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  <header>
    <div>
      <h1>タスク管理</h1>
      <p>login</p>
    </div>
  </header>

  <main>
    <div>
      <p><a href="/task">タスク</a></p>
    </div>
  </main>
  
</body>
</html>