<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  <h1>ログイン・新規登録</h1>

  <div id="login">
    <h3>login</h3>
    <p><%= loginError %></p>
    <form method="post" action="/login/login-post">
      <input type="text" name="userName" required>
      <input type="text" name="userPas" required>
      <input type="submit" value="送信">
    </form>
  </div>

  <div id="signIn">
    <h3>signIn</h3>
    <p><%= signInError %></p>
    <form method="post" action="/login/signIn-post">
      <input type="text" name="userName" required>
      <input type="text" name="userPas" required>
      <input type="submit" value="送信">
    </form>
  </div>

</body>
</html>