<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>

  <div class="float-up">
    <div id="login-container">
      <div id="login-box">
        <h1>welcome</h1>
      
        <div id="login">
          <h3>login</h3>
          <p><%= loginError %></p>
          <form class="form-box" method="post" action="/login/login-post">
            <label for="userName">お名前</label><br>
            <input type="text" class="input" name="userName" required><br>
  
            <label for="userPas">パスワード</label><br>
            <input type="text" class="input" name="userPas" required>
  
            <input type="hidden" name="redirect" value="<%= redirect %>">
            <input type="submit" class="submit" value="送信">
          </form>
  
          <p class="toggle-login"><button id="toggle-signIn">新規登録はこちら</button></p>
  
        </div>
      
        <div id="signIn">
          <h3>signIn</h3>
          <p><%= signInError %></p>
          <form method="post" action="/login/signIn-post">
            <label for="userName">お名前</label><br>
            <input type="text" id="userName" class="input" name="userName" required><br>
            <label for="userPas">パスワード</label><br>
            <input type="text" id="userPas" class="input" name="userPas" required>
            <input type="hidden" name="redirect" value="<%= redirect %>">
            <input type="submit" class="submit" value="送信">
          </form>
  
          <p class="toggle-login"><button id="toggle-login">ログインはこちら</button></p>
  
        </div>
        
      </div>
    </div>
  
  </div>
  <script src="javascripts/login.js"></script>
</body>
</html>