<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  <header>
    <h1>タスク</h1>
  </header>

  <main>
    <a href="task-add">追加</a>
    <a href="task-delete">削除</a>
    
    <!-- 一覧 -->
    <div>

    </div>
  </main>
  
</body>
</html>